<!DOCTYPE html>
<html lang="ru">

@@include("../blocks/modules/head/head.html")

<body>

    <!-- page -->
    <div class="wrapper">

        <!-- @including header -->
        @@include("../blocks/modules/header/header.html")

        <!-- page content -->
        <main class="main">

            <!-- @including catalog-module -->
            @@include("../blocks/modules/catalog/catalog-with-programms.html")

            <!-- @including faq-module -->
            @@include("../blocks/modules/faq/faq.html")

            <!-- @including doctors-module -->
            @@include("../blocks/modules/doctors/doctors.html")

            <!-- @including feedback-module -->
            @@include("../blocks/modules/feedback/feedback.html")

            <!-- @including latest-module -->
            @@include("../blocks/modules/latest/latest.html")

            <!-- @including reviews-module -->
            @@include("../blocks/modules/reviews/reviews.html")

            <!-- @including partners-module -->
            @@include("../blocks/modules/partners/partners.html")

            <!-- @including more-module -->
            @@include("../blocks/modules/more/more.html")

        </main>

        <!-- @including footer -->
        @@include("../blocks/modules/footer/footer.html")

    </div>

    <!-- @including modals -->
    @@include("../blocks/modules/modals/modals.html")

    <!-- endof page -->

    <!-- connecting scripts -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vendor.js"></script>

</body>

</html>