<!DOCTYPE html>
<html lang="ru">

@@include("../blocks/modules/head/head.html")

<body>

    <!-- page -->
    <div class="wrapper">

        <!-- @including header -->
        @@include("../blocks/modules/header/header.html")

        <!-- page content -->
        <main class="main">

            <!-- @including article-module -->
            @@include("../blocks/modules/article/article.html")

            <!-- @including question-form-module -->
            @@include("../blocks/modules/question/question.html")

            <!-- @including promo-module -->
            @@include("../blocks/modules/promo/promo.html")

            <!-- @including reviews-module -->
            @@include("../blocks/modules/reviews/reviews.html")

            <!-- @including partners-module -->
            @@include("../blocks/modules/partners/partners.html")

            <!-- @including more-module -->
            @@include("../blocks/modules/more/more.html")

        </main>

        <!-- @including footer -->
        @@include("../blocks/modules/footer/footer.html")

    </div>

    <!-- @including modals -->
    @@include("../blocks/modules/modals/modals.html")

    <!-- endof page -->

    <!-- connecting scripts -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vendor.js"></script>

</body>

</html>