.treatment-dir {
    padding: 65px 0 155px;
    @media (max-width: 1250px) {
        margin: 60px 0 65px;
        padding: 0;
    }
    @media (max-width: 767px) {
        margin: 45px 0;
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        text-align: center;
        margin-bottom: 20px;
        @media (max-width: 1250px) {
            margin-bottom: 30px;
        }
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    &__all {
        @media (max-width: 1250px) {
            font-size: rem(16);
        }
        @media (max-width: 767px) {
            font-size: rem(14);
        }
    }
    &-form {
        width: 100%;
        margin-bottom: 50px;
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $white;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        @media (max-width: 1250px) {
            padding: 35px 30px;
            margin-bottom: 30px;
        }
        @media (max-width: 767px) {
            padding: 0;
            box-shadow: none;
            margin-bottom: 25px;
        }
        &__search {
            display: flex;
            width: 100%;
            max-width: 700px;
            margin: 0 auto;
            border-radius: 20px;
            border: 1px solid #DEDEDE;
            position: relative;
            transition: border-color $trans;
            @media (max-width: 1250px) {
                max-width: 630px;
            }
            &:focus-within {
                border-color: $green;
            }
        }
        &__input {
            flex-grow: 1;
            border: none;
            height: 38px;
            background-color: transparent;
            padding: 0 20px 0;
            font-size: rem(14);
            &::placeholder {
                color: #ADADAD;
            }
            &:focus {
                outline: none;
            }
        }
        &__submit {
            flex-shrink: 0;
            margin: -1px -1px -1px 0;
            height: 40px;
            padding: 0 20px;
            background-color: $green;
            color: $white;
            svg {
                display: none;
            }
            @media (max-width: 767px) {
                font-size: 0;
                width: 40px;
                border-radius: 50%;
                padding: 0;
                svg {
                    display: block;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
    &-options {
        width: 100%;
        margin-bottom: 25px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 30px;
        @media (max-width: 1250px) {
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 20px;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            gap: 0;
        }
        &__link {
            height: 70px;
            padding-right: 20px;
            border-top: 1px solid #F4F4F4;
            border-bottom: 1px solid #F4F4F4;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: rem(16);
            text-decoration-color: transparent;
            text-decoration-skip-ink: none;
            color: $black;
            position: relative;
            transition: color $trans, text-decoration-color $trans;
            @media (max-width: 1250px) {
                font-size: rem(14);
            }
            @media (max-width: 767px) {
                height: 50px;
                &:nth-child(n+6) {
                    display: none;
                }
            }
            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 9px;
                height: 15px;
                background: url('../img/icons/right-arrow.svg') no-repeat center;
            }
            &:hover {
                color: $green;
                text-decoration-color: $green;
            }
            &:nth-child(n+5) {
                border-top: none;
            }
        }
    }
}