.more {
    padding: 80px 40px 75px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    position: relative;
    min-height: 430px;
    @media (max-width: 1250px) {
        min-height: 100%;
        padding: 315px 30px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    @media (max-width: 767px) {
        padding: 173px 14px 30px;
    }
    &:after {
        content: '';
        position: absolute;
        top: 104px;
        right: 71px;
        width: 523px;
        height: 230px;
        background: url('../img/illstr/more/more-illstr.svg') no-repeat center;
        background-size: 100% 100%;
        @media (max-width: 1250px) {
            top: 55px;
            right: 50%;
            transform: translateX(50%);
        }
        @media (max-width: 767px) {
            width: 267px;
            height: 117px;
            top: 36px;
        }
    }
    >* {
        position: relative;
        z-index: 1;
    }
    &__title {
        max-width: 555px;
        margin-bottom: 30px;
        font-size: rem(32);
        @media (max-width: 1250px) {
            font-size: rem(28);
            max-width: 100%;
            margin-bottom: 18px;
        }
        @media (max-width: 767px) {
            font-size: rem(18);
            margin-bottom: 10px;
        }
    }
    &__text {
        max-width: 555px;
        margin-bottom: 35px;
        @media (max-width: 1250px) {
            max-width: 100%;
            margin-bottom: 25px;
        }
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    &__btn {
        padding: 0 30px;
        @media (max-width: 767px) {
            min-width: 270px;
        }
    }
    &:last-child {
        margin-bottom: 150px;
        @media (max-width: 1250px) {
            margin-bottom: 100px;
        }
        @media (max-width: 767px) {
            margin-bottom: 80px;
        }
    }
}